odd/bahr-zeitleiste.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg" xmlns:math="http://www.w3.org/1998/Math/MathML">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Hermann Bahr-Zeitleiste: ODD</title>
        <author>Ingo Boerner</author>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p>born digital</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="bahr-zeitleiste" start="TEI">
        <moduleRef key="header" include="encodingDesc fileDesc projectDesc publicationStmt sourceDesc teiHeader titleStmt"/>
        <moduleRef key="core" include="author bibl head p quote ref resp respStmt title note lb"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="TEI body text"/>
        <moduleRef key="namesdates" include="event listEvent persName"/>
      </schemaSpec>

      <elementSpec ident="TEI" module="textstructure" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="change" usage="req"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="version" mode="delete"/>
        </attList>
        <model behaviour="document"/>
      </elementSpec>

      <elementSpec ident="author" module="core" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
        <model behaviour="metadata"/>
      </elementSpec>
      
      <elementSpec ident="bibl" module="core" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="default" mode="change">
            <valList type="closed" mode="replace">
              <valItem ident="true"/>
              <valItem ident="false"/>
            </valList>
          </attDef>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="sortKey" mode="delete"/>
          <attDef ident="status" mode="change">
            <valList type="closed" mode="replace">
              <valItem ident="draft"/>
            </valList>
          </attDef>
        </attList>
        <model behaviour="block"/>
      </elementSpec>
      
      
      <elementSpec ident="body" module="textstructure" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
        </attList>
        <model behaviour="body"/>
      </elementSpec>
      
      <elementSpec ident="encodingDesc" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
        <model behaviour="block"/>
      </elementSpec>
      
      <elementSpec ident="event" module="namesdates" mode="change">
        <attList>
          <attDef ident="xml:id" mode="change" usage="req">
            <datatype>
              <dataRef key="ID"/>
            </datatype>
          </attDef>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="change" usage="rec">
            <datatype>
              <dataRef key="teidata.temporal.w3c"/>
            </datatype>
          </attDef>
          
          <!-- notBefore -->
          <!-- notAfter -->
          
          <attDef ident="from" mode="change" usage="rec">
            <datatype>
              <dataRef key="teidata.temporal.w3c"/>
            </datatype>
          </attDef>
          
          <attDef ident="to" mode="change" usage="rec">
            <datatype>
              <dataRef key="teidata.temporal.w3c"/>
            </datatype>
          </attDef>
          
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>          
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          
          
          
          <attDef ident="type" mode="change" usage="req">
            <valList type="closed" mode="replace">
              <valItem ident="Person">
                <desc>Person</desc>
              </valItem>
              <valItem ident="Ereignis">
                <desc>Ereignis</desc>
              </valItem>
              <valItem ident="Journalismus">
                <desc>Journalismus</desc>
              </valItem>
              <valItem ident="Vortrag">
                <desc>Vortrag</desc>
              </valItem>
              <valItem ident="Orte">
                <desc>Orte</desc>
              </valItem>
              <valItem ident="Tagebuecher">
                <desc>Tagebücher</desc>
              </valItem>
              <valItem ident="Theater">
                <desc>Theater</desc>
              </valItem>
              <valItem ident="KritischeSchriften">
                <desc>Kritische Schriften</desc>
              </valItem>
              <valItem ident="Theaterschriften">
                <desc>Theaterschriften</desc>
              </valItem>
              <valItem ident="LiterarischeProsa">
                <desc>Literarische Prosa</desc>
              </valItem>
            </valList>
          </attDef>
          
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="sortKey" mode="delete"/>
          
          <attDef ident="unit" mode="delete"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="delete"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
          
          
          <!-- where -->        
        </attList>
        <model behaviour="block"/>
      </elementSpec>
      
      
      <elementSpec ident="fileDesc" module="header" mode="change">

        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
        <model behaviour="metadata"/>
      </elementSpec>
      
      <elementSpec ident="head" module="core" mode="change">
        <!--desc-->
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="place" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
        <model behaviour="heading"/>
      </elementSpec>
      
      <elementSpec ident="lb" module="core" mode="change">
        <attList>
          <!-- alle Attribute entfernt, @rend angepasst -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>     
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="ed" mode="delete"/>
          <attDef ident="edRef" mode="delete"/>
          <attDef ident="spanTo" mode="delete"/>
          <attDef ident="break" mode="replace" usage="opt">
            <desc>Worttrennung</desc>
            <valList mode="change" type="closed">
              <valItem ident="no"/>
            </valList>
          </attDef>
        </attList>
        <model behaviour="break"/>
      </elementSpec>
      
      <elementSpec ident="listEvent" module="namesdates" mode="change">

        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="default" mode="delete"/>
          <attDef ident="sortKey" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="note" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="place" mode="delete"/>
          <attDef ident="targetLang" mode="delete"/>
          <attDef ident="target" mode="delete"/>
          <attDef ident="evaluate" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
          <attDef ident="anchored" mode="delete"/>
          <attDef ident="targetEnd" mode="delete"/>
        </attList>
        <model behaviour="block"/>
      </elementSpec>
      
      
      <elementSpec ident="p" module="core" mode="change">
        <attList>
          <!-- alles entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="part" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="persName" module="namesdates" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="full" mode="delete"/>
          <attDef ident="sort" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
        </attList>
        <model behaviour="metadata"/>
      </elementSpec>
      
      <elementSpec ident="projectDesc" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="default" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="publicationStmt" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
        <model behaviour="omit"/>
      </elementSpec>
      
      <elementSpec ident="quote" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="defective" mode="delete"/>
          <attDef ident="notation" mode="delete"/>
        </attList>
        <model behaviour="block"/>
      </elementSpec>
      
      <elementSpec ident="ref" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="targetLang" mode="delete"/>
          <attDef ident="target" mode="change" usage="opt">
            <datatype>
              <dataRef key="teidata.pointer"/>
            </datatype>
          </attDef>
          <attDef ident="evaluate" mode="delete"/>
          <attDef ident="mimeType" mode="delete"/>
          
          <attDef ident="type" mode="change">
            <valList type="closed" mode="replace">
              <valItem ident="URL"/>
            </valList>
          </attDef>
          
          <attDef ident="decls" mode="delete"/>
          <attDef ident="cRef" mode="delete"/>
          
        </attList>
        <model behaviour="link"/>
      </elementSpec>
      
      
      
      <elementSpec ident="resp" module="core" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
        <model behaviour="metadata"/>
      </elementSpec>
      
      <elementSpec ident="respStmt" module="core" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
        <model behaviour="metadata"/>
      </elementSpec>
      
      <elementSpec ident="sourceDesc" module="header" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="default" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="teiHeader" module="header" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
        <model behaviour="metadata"/>
      </elementSpec>
      
      <elementSpec ident="text" module="textstructure" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="title" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="level" mode="delete"/>
        </attList>
        
      </elementSpec>
      
      <elementSpec ident="titleStmt" module="header" mode="change">
        <attList>
          <!-- alle Attribute entfernt -->
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/> 
          <attDef ident="copyOf" mode="delete"/> 
          <attDef ident="next" mode="delete"/> 
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>

    </body>
  </text>
</TEI>